<div class="bill-input-title" data-bind="i18n: 'Add by SKU:'"></div>
<div class="catalog__count-field"><div class="inc count__button" data-bind="click: increaseQty">+</div>
    <input type="text" class="form-control catalog__count form__qty" maxlength="12" value="1" name="add-qty"
           data-validate="null" data-max-value="99999999999999999">
    <div class="dec count__button" data-bind="click: decreaseQty">-</div>
</div>
<input id="bill-article" type="text" name="sku">
<button class="btn btn-white bill-add" data-bind="click: addBySKU"><i class="fa fa-plus" aria-hidden="true"></i></button>