<table>
    <thead>
    <tr>
        <th data-bind="i18n:'Image'"></th>
        <th data-bind="i18n:'Product Code'"></th>
        <th data-bind="i18n:'Sku'"></th>
        <th data-bind="i18n:'Product name'"></th>
        <th data-bind="i18n:'Qty'"></th>
        <th data-bind="i18n:'Reserved Qty'"></th>
        <th data-bind="i18n:'Store Qty'"></th>
        <th data-bind="i18n:'Measure Units'"></th>
        <th data-bind="i18n:'Product price'"></th>
        <th data-bind="i18n:'Total'"></th>
        <!-- ko if: canManageItems() -->
            <th></th>
        <!-- /ko -->
    </tr>
    </thead>
    <tbody>

    <!-- ko foreach: cart()['items'] -->

        <tr>
            <td><img data-bind="attr: {
                    src: product_image['src'],
                    alt: product_image['alt']
                }">
            </td>
            <td data-bind="text: product_sku"></td>
            <td data-bind="text: custom_sku"></td>
            <td data-bind="text: product_name"></td>

            <!-- ko if: $parent.canManageItems() -->
                <td>
                    <div class="catalog__count-field"><div class="inc count__button" data-bind="click: $parent.increaseQty">+</div>
                        <input type="text" class="form-control catalog__count form__qty" maxlength="12"
                               data-bind="value: qty,
                                          attr: { 'data-max-value': product_total_store + qty, name: 'cart[' + item_id + '][qty]', 'data-update-url': cart_update_url },
                                          event: { blur: $parent.validateQty }" data-validate="null">
                        <div class="dec count__button" data-bind="click: $parent.decreaseQty">-</div>
                    </div>
                    <button type="button" class="catalog__addToCart" data-bind="click: $parent.updateItem"><span class="fa fa-refresh" aria-hidden="true"></span></button>
                </td>
            <!-- /ko -->
            <!-- ko ifnot: $parent.canManageItems() -->
                <td><span data-bind="text: qty"></span></td>
            <!-- /ko -->
            <td data-bind="text: product_total_holded_store"></td>
            <td data-bind="text: product_total_store"></td>
            <td data-bind="html: measure_units"></td>
            <td data-bind="html: product_price"></td>
            <td data-bind="html: product_total"></td>
            <!-- ko if: $parent.canManageItems() -->
                <td>
                    <button data-bind="click: $parent.deleteItem, attr: { 'data-href': cart_delete_url }"
                       type="button"
                       class="btn btn-white bill-del">
                    <span class="fa fa-times" aria-hidden="true"></span>
                </button>
                </td>
            <!-- /ko -->
        </tr>

    <!-- /ko -->

    </tbody>
    <tfoot>
        <tr>
            <td colspan="8"></td>
            <td data-bind="i18n:'Subtotal without taxes'"></td>
            <td class="total" data-bind="html: cart()['subtotal_excluding_tax']"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td data-bind="i18n:'Subtotal'"></td>
            <td class="total" data-bind="html: cart()['subtotal']"></td>
        </tr>
    </tfoot>
</table>
