<!-- ko if: loading().length == 0 -->

    <!-- ko if: buttonDelete() -->
    <a data-bind="attr: { href: deleteUrl } " class="btn btn-white bill-del">
        <span class="fa fa-times" aria-hidden="true"></span>
        <!-- ko i18n: 'Delete order' --><!-- /ko -->
    </a>
    <!-- /ko -->

    <!-- ko if: buttonCancel() -->
    <a data-bind="attr: { href: cancelUrl } " class="btn btn-white bill-del">
        <span class="fa fa-undo" aria-hidden="true"></span>
        <!-- ko i18n: 'Cancel order' --><!-- /ko -->
    </a>
    <!-- /ko -->

    <!-- ko if: buttonReserve() -->
    <a data-bind="attr: { href: reserveUrl }" class="btn btn-white bill-reservation">
        <span class="fa fa-flag-o" aria-hidden="true"></span>
        <!-- ko i18n: 'Reserve order' --><!-- /ko -->
    </a>
    <!-- /ko -->

    <!-- ko if: buttonProcess() -->
    <a data-bind="attr: { href: processUrl }" class="btn btn-white bill-send">
        <span class="fa fa-paper-plane-o" aria-hidden="true"></span>
        <!-- ko i18n: 'Process order' --><!-- /ko -->
    </a>
    <!-- /ko -->

    <button data-bind="attr: { 'data-href': reorderUrl }, click: reorder" data-new="true" class="btn btn-white bill-new">
        <span class="fa fa-star" aria-hidden="true"></span>
        <!-- ko i18n: 'Create new order' --><!-- /ko -->
    </button>

    <!-- ko if: buttonAddToCurrent() -->
    <button data-bind="attr: { 'data-href': reorderUrl }, click: reorder" data-new="false" class="btn btn-white bill-to-current">
        <span class="fa fa-arrow-up" aria-hidden="true"></span>
        <!-- ko i18n: 'Add to current order' --><!-- /ko -->
    </button>
    <!-- /ko -->

<!-- /ko -->

<!-- ko if: loading().length > 0 -->

    <div class="cs-loader">
        <div class="cs-loader-inner">
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
        </div>
    </div>

<!-- /ko -->