<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($_orders && count($_orders)): ?>

    <!-- TODO: moove it to another template and block-->
    <div class="table-tabs">
        <ul>
            <li class="active" data-table="table-1"><i class="fa fa-file-text-o" aria-hidden="true"></i>Журнал счетов</li>
            <li data-table="table-2"><i class="fa fa-file-text-o" aria-hidden="true"></i>расходные накладные</li>
            <li data-table="table-3"><i class="fa fa-file-text-o" aria-hidden="true"></i>налоговые накладные</li>
        </ul>
    </div>
    <!-- END TODO-->

    <div class="table-container">
        <div class="table active" data-table="table-1">
            <table>
                <thead>
                <tr>
                    <th><?= /* @escapeNotVerified */ __('Order #') ?></th>
                    <th><?= /* @escapeNotVerified */ __('Ship To') ?></th>
                    <th><?= /* @escapeNotVerified */ __('Status') ?></th>
                    <th><?= /* @escapeNotVerified */ __('Date') ?></th>
                    <th><?= /* @escapeNotVerified */ __('Order Total') ?></th>
                    <th><?= /* @escapeNotVerified */ __('Action') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($_orders as $_order): ?>
                <tr class="table-show" data-title="table-<?php echo $_order->getId(); ?>"
                    data-mage-init='{"otOpenOrder":{ }}'>
                    <td><span class="table-arr"><i class="fa fa-angle-down" aria-hidden="true"></i></span><?= $block->escapeHtml(__('Order #')) ?><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                    <td><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                    <td><span class="product-label product-<?php echo $_order->getStatus(); ?>"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></span></td>
                    <td><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                    <td><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                    <td> <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view btn btn-white">
                            <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                        </a>
                    </td>
                </tr>
                <tr id="table-<?php echo $_order->getId(); ?>" class="subtable" style="display: none">
                    <td colspan="6">
                        <table>
                            <thead>
                            <tr>
                                <th><?= /* @escapeNotVerified */ __('Sku') ?></th>
                                <th><?= /* @escapeNotVerified */ __('Name') ?></th>
                                <th><?= /* @escapeNotVerified */ __('Qty') ?></th>
                                <th><?= /* @escapeNotVerified */ __('Price') ?></th>
                                <th><?= /* @escapeNotVerified */ __('Total') ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($_order->getItems() as $item) { ?>
                                <tr>
                                    <td><?php echo $item->getSku(); ?></td>
                                    <td><?php echo $item->getName(); ?></td>
                                    <td><?php echo (int)$item->getQtyOrdered(); ?></td>
                                    <td><?php echo $item->getPrice(); ?></td>
                                    <td><?php echo $item->getRowTotal(); ?></td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <?php if ($block->getPagerHtml()): ?>
                <div class="pagination"><?= $block->getPagerHtml() ?></div>
            <?php endif ?>
        </div>
        <!-- TODO: moove it to another template and block-->
        <div class="table" data-table="table-2">
            <table>
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Клиент</th>
                    <th>Состояние счета</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Заметки</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-show" data-title="table-5">
                    <td><span class="table-arr"><i class="fa fa-angle-down" aria-hidden="true"></i></span>XD 324102131</td>
                    <td>Автоген ООО</td>
                    <td><span class="product-label product-dispatch">На отгрузку</span></td>
                    <td>12.01.2017  13:00</td>
                    <td>2000 грн.</td>
                    <td>Распределение товара по Заявкам клиента АМ</td>
                </tr>
                <tr id="table-5" class="subtable">
                    <td colspan="6">
                        <table>
                            <thead>
                            <tr>
                                <th>Карточка</th>
                                <th>Наименование</th>
                                <th>Количество</th>
                                <th>Договор</th>
                                <th>Склад</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12363535</td>
                                <td>Шина 11R22, 5 148/145K NF 701  (НкШЗ)</td>
                                <td>5</td>
                                <td>Договор продажи 31.12.14</td>
                                <td>Харьков</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table" data-table="table-3">
            <table>
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Клиент</th>
                    <th>Состояние счета</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Заметки</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-show" data-title="table-6">
                    <td><span class="table-arr"><i class="fa fa-angle-down" aria-hidden="true"></i></span>XD 324102131</td>
                    <td>Автоген ООО</td>
                    <td><span class="product-label product-dispatch">На отгрузку</span></td>
                    <td>12.01.2017  13:00</td>
                    <td>2000 грн.</td>
                    <td>Распределение товара по Заявкам клиента АМ</td>
                </tr>
                <tr id="table-6" class="subtable">
                    <td colspan="6">
                        <table>
                            <thead>
                            <tr>
                                <th>Карточка</th>
                                <th>Наименование</th>
                                <th>Количество</th>
                                <th>Договор</th>
                                <th>Склад</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12363535</td>
                                <td>Шина 11R22, 5 148/145K NF 701  (НкШЗ)</td>
                                <td>5</td>
                                <td>Договор продажи 31.12.14</td>
                                <td>Харьков</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="table-show" data-title="table-7">
                    <td><span class="table-arr"><i class="fa fa-angle-down" aria-hidden="true"></i></span>XD 324102131</td>
                    <td>Автоген ООО</td>
                    <td><span class="product-label product-dispatch">На отгрузку</span></td>
                    <td>12.01.2017  13:00</td>
                    <td>2000 грн.</td>
                    <td>Распределение товара по Заявкам клиента АМ</td>
                </tr>
                <tr id="table-7" class="subtable">
                    <td colspan="6">
                        <table>
                            <thead>
                            <tr>
                                <th>Карточка</th>
                                <th>Наименование</th>
                                <th>Количество</th>
                                <th>Договор</th>
                                <th>Склад</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12363535</td>
                                <td>Шина 11R22, 5 148/145K NF 701  (НкШЗ)</td>
                                <td>5</td>
                                <td>Договор продажи 31.12.14</td>
                                <td>Харьков</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- END TODO-->
    </div>

<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
<?php endif ?>
