<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Order\Items */

?>
<div class="table bill-list" id="sale-cart-table" data-bind="scope: 'otordercart'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
     {
        "#sale-cart-table": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "otordercart": {
                        "component": "otOrderCart",
                        "jsonUrl": "<?= $block->getUrl('client/order/cart/order_id/'. $block->getOrder()->getId()); ?>",
                        "status": "<?= $block->getOrder()->getStatus() ?>",
                        "changeQtyUrl": "<?= $block->getChageQtyUrl(); ?>"
                    }
                }
            }
        }
    }
</script>
