<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var  $block \OutsourcingTeam\Customer\Block\Sales\Order\View*/?>

<?php $_order = $block->getOrder() ?>

<div class="bill">
    <div class="bill-container">
        <div class="bill-head">
            <div class="bill-left" id="sale-order-actions" data-bind="scope: 'otorderactions'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <script type="text/x-magento-init">
                     {
                        "#sale-order-actions": {
                            "Magento_Ui/js/core/app": {
                                "components": {
                                    "otorderactions": {
                                        "component": "otOrderActions",
                                        "status": "<?= $_order->getStatus(); ?>",
                                        "deleteUrl": "<?= $block->getDeleteUrl(); ?>",
                                        "reserveUrl": "<?= $block->getReserveUrl(); ?>",
                                        "processUrl": "<?= $block->getProcessUrl(); ?>",
                                        "cancelUrl": "<?= $block->getCancelUrl(); ?>",
                                        "reorderUrl": "<?= $block->getReorderUrl(); ?>"
                                    }
                                }
                            }
                        }
                    }
            </script>

            <div class="bill-right">
                <button type="button" class="btn btn-white bill-excel"><span class="fa fa-file-excel-o" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-white bill-pdf"><span class="fa fa-file-pdf-o" aria-hidden="true"></span></button>
            </div>
        </div>
        <div class="bill-body" data-mage-init='{"orderFormSubmitting":{}}'>
            <div class="bill-title <?php echo $_order->getStatus(); ?>"><?php echo __('Order # %1', $this->getOrder()->getRealOrderId()); ?></div>
            <div class="bill-table">
                <div class="panel-body order">
                    <p><?= $block->getFormattedShippingAddress(); ?></p>
                    <p>
                        <strong>
                            <?php if ($_order->getShippingDescription()): ?>
                                <?= __($_order->getShippingDescription()) ?>
                            <?php else: ?>
                                <?= /* @escapeNotVerified */ __('No shipping information available') ?>
                            <?php endif; ?>
                        </strong>
                    </p>
                </div>
                <?php if ($block->isAllowedToManage()): ?>
                <form action="" id="order-form" method="post" enctype="multipart/form-data">
                    <table>
                        <tbody data-bind="scope: 'orderSetting'" id="order-setting-tabble">
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        </tbody>
                        <script type="text/x-magento-init">
                            {
                                "#order-setting-tabble": {
                                    "Magento_Ui/js/core/app": {
                                        "components": {
                                            "orderSetting": {
                                                "component": "checkoutSetting",
                                                "shippingTypes": <?= $block->getShippingTypes(); ?>,
                                                "shippingType": <?= $block->getShippingType(); ?>,
                                                "shippingAddresses": <?= $block->getShippingAddresses(); ?>,
                                                "shippingPersons": <?= $block->getShippingPersons(); ?>,
                                                "defaultShippingMethod": "<?= $block->getDefaultShippingMethod(); ?>",
                                                "defaultShipping": <?= $block->getDefaultShipping(); ?>,
                                                "defaultShippingWarehouse": <?= $block->getDefaultShippingWarehouse(); ?>,
                                                "defaultShippingCity": <?= $block->getDefaultShippingCity(); ?>,
                                                "allShippingMethods": <?= $block->getAllShippingMethods(); ?>,
                                                "closeOpen": true,
                                                "editAddressUrl": "<?= $block->getUrl('customer/address/edit/id'); ?>",
                                                "editOrderShippingAddress": "<?= $block->getAddressEditUrl(); ?>"
                                            }
                                        }
                                    }
                                }
                            }
                         </script>
                    </table>
                </form>
                <?php endif; ?>
            </div>
        </div>
        <?php if ($block->isAllowedToManage()): ?>
        <div class="bill-footer" id="sale-add-by-sku" data-bind="scope: 'otaddbysku'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <script type="text/x-magento-init">
                     {
                        "#sale-add-by-sku": {
                            "Magento_Ui/js/core/app": {
                                "components": {
                                    "otaddbysku": {
                                        "component": "otAddBySku",
                                        "addUrl": "<?= $block->getAddUrl(); ?>",
                                        "jsonUrl": "<?= $block->getJsonUrl(); ?>"
                                    }
                                }
                            }
                        }
                    }
        </script>
        <?php endif; ?>
    </div>
</div>

<?= $block->getChildHtml('order_items') ?>

<div class="actions-toolbar">
    <div class="secondary">
        <a class="button btn" href="<?= /* @escapeNotVerified */ $block->getBackUrl() ?>">
            <span><?= /* @escapeNotVerified */ $block->getBackTitle() ?></span>
        </a>
    </div>
</div>
