<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Temlate for \Magento\Customer\Block\Address\Book block
 * @var $block \Magento\Customer\Block\Address\Book
 */
?>
<div class="content__right">
    <div class="panel">

        <?php if ($_pAddsses = $block->getDefaultShipping()): ?>

            <div class="box-title panel-head">
                <?php /* @escapeNotVerified */
                echo __('Default Shipping Address') ?>
            </div>
            <div class="panel-body">
                <address>
                    <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                </address>
            </div>
            <div class="panel-body text-center">
                <a class="btn" href="<?php /* @escapeNotVerified */
                echo $block->getAddressEditUrl($_pAddsses) ?>">
                    <span><?php /* @escapeNotVerified */
                        echo __('Change Shipping Address') ?></span>
                </a>
            </div>

        <?php else: ?>
            <div class="box-title panel-head"><?php /* @escapeNotVerified */
                echo __('Default Shipping Address') ?></div>
            <div class="panel-body">
                <p><?php /* @escapeNotVerified */
                    echo __('You have no default shipping address in your address book.') ?></p>
            </div>
        <?php endif ?>
    </div>

    <div class="panel">
        <div class="box-title panel-head"><?php /* @escapeNotVerified */
            echo __('Additional Address Entries') ?></div>

        <?php if ($_pAddsses = $block->getAdditionalAddresses()): ?>
            <div class="panel-table">
                <table class="table table-striped">
                    <tbody>
                    <?php foreach ($_pAddsses as $_address): ?>
                        <tr class="item">
                            <td><?php echo $block->getAddressHtml($_address) ?></td>
                            <td><a class="btn action edit" href="<?php /* @escapeNotVerified */
                                echo $block->getUrl('customer/address/edit', ['id' => $_address->getId()]) ?>"><span><?php /* @escapeNotVerified */
                                        echo __('Edit Address') ?></span></a>
                                <a class="btn action delete" href="#" role="delete-address"
                                   data-address="<?php /* @escapeNotVerified */
                                   echo $_address->getId() ?>"><span><?php /* @escapeNotVerified */
                                        echo __('Delete Address') ?></span></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        <?php else: ?>
            <div class="panel-body">
                <p class="empty"><?php /* @escapeNotVerified */
                    echo __('You have no other address entries in your address book.') ?></p>
            </div>
        <?php endif ?>
    </div>

    <div class="actions-toolbar">
        <div class="primary pull-left">
            <button type="button" role="add-address" title="<?php /* @escapeNotVerified */
            echo __('Add New Address') ?>" class="btn"><span><?php /* @escapeNotVerified */
                    echo __('Add New Address') ?></span></button>
        </div>
        <div class="secondary pull-right">
            <a class="btn"
               href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php /* @escapeNotVerified */
                    echo __('Back') ?></span></a>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "address": {
                "deleteAddress": "td a[role='delete-address']",
                "deleteUrlPrefix": "<?php /* @escapeNotVerified */
    echo $block->getDeleteUrl() ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?php /* @escapeNotVerified */
    echo $block->getAddAddressUrl() ?>"
            }
        }
    }

</script>
