<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */
?>
<div class="content__right">
    <div class="panel-table">
        <form class="form-address-edit" action="<?php /* @escapeNotVerified */
        echo $block->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data"
              data-hasrequired="<?php /* @escapeNotVerified */
              echo __('* Required Fields') ?>">
            <div class="panel">
                <div class="panel-head"><?php /* @escapeNotVerified */
                    echo __('Contact Information') ?></div>
                <?php echo $block->getBlockHtml('formkey') ?>

                <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */
                echo $block->getSuccessUrl() ?>">
                <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */
                echo $block->getErrorUrl() ?>">
                <table class="table table-striped">
                    <tbody>
                    <?php echo $block->getNameBlockHtml() ?>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Company Position') ?></td>
                        <td>
                            <input type="text" name="company" id="company" title="<?php /* @escapeNotVerified */
                            echo __('Company Position') ?>"
                                   value="<?php echo $block->escapeHtml($block->getAddress()->getCompany()) ?>"
                                   class="input-text <?php /* @escapeNotVerified */
                                   echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                        </td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Company Telephone') ?></td>
                        <td>
                            <input type="text" name="telephone"
                                   value="<?php echo $block->escapeHtml($block->getAddress()->getTelephone()) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('Company Telephone') ?>" class="input-text <?php /* @escapeNotVerified */
                            echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>"
                                   id="telephone">
                        </td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Self Telephone') ?></td>
                        <td>
                            <input type="text" name="fax" id="fax" title="<?php /* @escapeNotVerified */
                            echo __('Self Telephone') ?>"
                                   value="<?php echo $block->escapeHtml($block->getAddress()->getFax()) ?>"
                                   class="input-text <?php /* @escapeNotVerified */
                                   echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('fax') ?>">
                        </td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Facebook page') ?></td>
                        <td>
                            <input type="text" name="facebook" id="facebook" title="<?php /* @escapeNotVerified */
                            echo __('Facebook page') ?>"
                                   value="<?php
                                   $facebook = $block->getAddress()->getCustomAttribute('facebook_page');
                                   echo $block->escapeHtml(($facebook)?$facebook->getValue():'') ?>"
                                   class="input-text">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel">
                <div class="panel-head"><?php /* @escapeNotVerified */
                    echo __('Address') ?></div>
                <table class="table table-striped">
                    <tbody>
                    <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Zip/Postal Code') ?></td>
                        <td>
                            <input type="text" name="postcode"
                                   value="<?php echo $block->escapeHtml($block->getAddress()->getPostcode()) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('Zip/Postal Code') ?>" id="zip"
                                   class="input-text validate-zip-international <?php /* @escapeNotVerified */
                                   echo $_streetValidationClass ?>"/>
                        </td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Oblast') ?></td>
                        <td>
                            <input type="text" id="region" name="region"
                                   value="<?php echo $block->escapeHtml($block->getRegion()) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('Oblast') ?>" class="input-text <?php /* @escapeNotVerified */
                            echo $_streetValidationClass ?>"/>
                        </td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Raion') ?></td>

                        <td><input type="text" name="street[1]"
                                   value="<?php echo $block->escapeHtml($block->getStreetLine(2)) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('Raion') ?>" id="street_2"
                                   class="input-text <?php /* @escapeNotVerified */
                                   echo $_streetValidationClass ?>"/></td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('City') ?></td>
                        <td class="control">
                            <input type="text" name="city"
                                   value="<?php echo $block->escapeHtml($block->getAddress()->getCity()) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */
                            echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>"
                                   id="city">
                        </td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Address Street') ?></td>

                        <td><input type="text" name="street[0]"
                                   value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('Address Street') ?>" id="street_1"
                                   class="input-text <?php /* @escapeNotVerified */
                                   echo $_streetValidationClass ?>"/></td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Address Unit') ?></td>

                        <td><input type="text" name="street[2]"
                                   value="<?php echo $block->escapeHtml($block->getStreetLine(3)) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('Address Unit') ?>" id="street_3"
                                   class="input-text <?php /* @escapeNotVerified */
                                   echo $_streetValidationClass ?>"/></td>
                    </tr>
                    <tr>
                        <td><?php /* @escapeNotVerified */
                            echo __('Address Office') ?></td>

                        <td><input type="text" name="street[3]"
                                   value="<?php echo $block->escapeHtml($block->getStreetLine(4)) ?>"
                                   title="<?php /* @escapeNotVerified */
                                   echo __('Address Office') ?>" id="street_4"
                                   class="input-text"/></td>
                    </tr>
                    <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
                        <div class="field taxvat">
                            <label class="label" for="vat_id"><span><?php /* @escapeNotVerified */
                                    echo __('VAT Number') ?></span></label>
                            <div class="control">
                                <input type="text" name="vat_id"
                                       value="<?php echo $block->escapeHtml($block->getAddress()->getVatId()) ?>"
                                       title="<?php /* @escapeNotVerified */
                                       echo __('VAT Number') ?>" class="input-text <?php /* @escapeNotVerified */
                                echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id') ?>"
                                       id="vat_id">
                            </div>
                        </div>
                    <?php endif; ?>

                    <input type="hidden" name="country_id" value="UA"/>

                    <input type="hidden" name="default_billing" value="1"/>

                    <?php if ($block->isDefaultShipping()): ?>
                        <tr>
                            <td colspan="2"><?php /* @escapeNotVerified */
                                echo __('Default Shipping Address') ?></td>
                        </tr>
                    <?php elseif ($block->canSetAsDefaultShipping()): ?>
                        <tr>
                            <td><?php /* @escapeNotVerified */
                                echo __('Use as my default shipping address') ?></td>
                            <td><div class="check-box">
                                    <input type="checkbox" id="primary_shipping" name="default_shipping" value="1"
                                           class="checkbox">
                                    <label for="primary_shipping"></label>
                                </div>
                            </td>
                        </tr>
                    <?php else: ?>
                        <input type="hidden" name="default_shipping" value="1">
                    <?php endif; ?>
                    <tr>
                        <td colspan="2">
                            <div class="panel-body text-center">
                                <button type="submit" class="btn action save primary" data-action="save-address"
                                        title="<?php /* @escapeNotVerified */
                                        echo __('Save Address') ?>">
                        <span><?php /* @escapeNotVerified */
                            echo __('Save Address') ?></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <a class="action back btn"
           href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php /* @escapeNotVerified */
                echo __('Go back') ?></span></a>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */
    echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */
    echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */
    echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */
    echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }

</script>
