<div class="panel">
    <div class="panel-head"><?= __('Default Setting') ?></div>
    <div class="panel-table">
            <table id="settings-custom" class="table table-striped">
                <?php
                $shippingTypes = $block->getShippingTypes();
                $shippingType = $block->getShippingType();
                if ($shippingTypes) {
                    ?>
                    <tr>
                        <td><?= __('Default shipping type') ?></td>
                        <td>
                            <select name="shippingTypes">
                                <?php foreach ($shippingTypes as $type) { ?>
                                    <option value="<?php echo $type['value']; ?>"
                                        <?php if ($shippingType == $type['value']){ ?>selected<?php } ?>
                                    ><?php echo __($type['label']); ?></option>
                                <?php } ?>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                <?php } ?>
                <?php
                $methods = $block->getAllMethods();
                $defaultMethod = $block->getDefaultShippingMethod();
                ?>
                <?php if ($methods) { ?>
                    <tr>
                        <td><?= __('Default shipping company') ?></td>
                        <td>
                            <select name="shippingMethod">
                                <option value=""><?= __('Select shipping company...') ?></option>
                                <?php foreach ($methods as $method) { ?>
                                    <?php if ($method['value']) { ?>
                                        <?php foreach ($method['value'] as $value) { ?>
                                            <option value="<?php echo $value['value']; ?>"
                                            <?php if ($value['value'] == $defaultMethod) { ?>selected<?php } ?>
                                            ><?php echo $method['label']; ?></option>
                                        <?php } ?>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td><?= __('City') ?></td>
                    <td>
                        <select name="shippingCities">
                            <option value=""><?= __('Select city...') ?></option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><?= __('Default shipping warehouse') ?></td>
                    <td>
                        <select name="shippingWarehouses">
                            <option value=""><?= __('Select warehouse...') ?></option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" id="submit-account-settings">
                        <div class="panel-body text-center">
                            <button class="btn"><?= __('Change data') ?></button>
                        </div>
                        <div class="cs-loader">
                            <div class="cs-loader-inner">
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
    </div>
</div>



