<?php $customer = $block->getCustomer(); ?>
<form action="<?php echo $block->getUpdateCustomerUrl(); ?>" autocomplete="off" id="customer_data"
      data-mage-init='{"shippingMethodCitiesAndWarehouses":{"defaultCity": "<?php
      /* @escapeNotVerified */ echo $block->getDefaultShippingCity(); ?>", "defaultWarehouse": "<?php
      /* @escapeNotVerified */ echo $block->getDefaultShippingWarehouse(); ?>" }}' method="post">
<div class="content__right">
    <div class="panel">
        <div class="panel-head"><?= __('Change user settings') ?></div>
        <div class="panel-table">

                <table id="settings-account" class="table table-striped">
                    <tr>
                        <td><?= __('Firstname') ?></td>
                        <td><input type="text" class="input" name="firstname"
                                   value="<?php echo $customer->getFirstname(); ?>"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><?= __('Lastname') ?></td>
                        <td><input type="text" name="lastname" value="<?php echo $customer->getLastname(); ?>"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><?= __('Middlename') ?></td>
                        <td><input type="text" name="middlename" value="<?php echo $customer->getMiddlename(); ?>"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><?= __('Telephone') ?></td>
                        <td><input type="tel" name="user_telephone"
                                   value="<?php echo $customer->getData('user_telephone'); ?>"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><?= __('Email') ?></td>
                        <td><input type="email" name="email" value="<?php echo $customer->getEmail(); ?>"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><?= __('Change password') ?></td>
                        <td><div class="check-box">
                                <input type="checkbox" name="change_password" id="change_password">
                                <label for="change_password"></label>
                            </div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><?= __('Current password') ?></td>
                        <td><input id="cur_pass" type="password" name="current_password" placeholder=""></td>
                        <td>
                            <button class="pass-show" data-pass="cur_pass"><i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?= __('New password') ?></td>
                        <td><input id="new_pass" type="password" name="password" placeholder=""></td>
                        <td>
                            <button class="pass-show" data-pass="new_pass"><i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?= __('Confirm password') ?></td>
                        <td><input id="conf_pass" type="password" name="password_confirmation" placeholder=""></td>
                        <td>
                            <button class="pass-show" data-pass="conf_pass"><i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="form_key" value="<?php echo $block->getFormkey(); ?>">
        </div>
    </div>
    <?= $block->getChildHtml() ?>
</div>
</form>