<?php
/**
 * @var $block \OutsourcingTeam\Customer\Block\Account\Menu
 */
?>
<aside class="sidebar">
    <button class="sidebar-switch"><i class="fa fa-sliders" aria-hidden="true"></i></button>
    <div class="sidebar__menu">
        <ul>
            <li>
                <a href="<?php echo $block->getAccountUrl(); ?>"
                   <?php if ($block->getCurrentUrl() == $block->getAccountUrl()){ ?>class="active"<?php } ?>>
                    <i class="fa fa-truck" aria-hidden="true"></i><span><?= __('Terms of work') ?></span>
                </a>
            </li>
            <li>
                <a href="<?php echo $block->getEditUrl(); ?>"
                   <?php if ($block->getCurrentUrl() == $block->getEditUrl()){ ?>class="active"<?php } ?>>
                    <i class="fa fa-user" aria-hidden="true"></i><span><?= __('User settings') ?></span>
                </a>
            </li>
            <li>
                <a href="<?php echo $block->getSearchSettingUrl(); ?>"
                   <?php if ($block->getCurrentUrl() == $block->getSearchSettingUrl()){ ?>class="active"<?php } ?>>
                    <i class="fa fa-cog" aria-hidden="true"></i><span><?= __('Search settings') ?></span>
                </a>
            </li>
            <li>
                <a href="<?php echo $block->getAddressUrl(); ?>"
                   <?php if ($block->getCurrentUrl() == $block->getAddressUrl()){ ?>class="active"<?php } ?>>
                    <i class="fa fa-book" aria-hidden="true"></i><span><?= __('User addresses') ?></span>
                </a>
            </li>
        </ul>
    </div>
</aside>