<?php
/**
 * @var $block \OutsourcingTeam\Customer\Block\Account\Search
 */
?>
<div class="content__right">
    <div class="panel">
        <div class="panel-head"><?= __('Search settings') ?></div>
        <div class="panel-table">
            <form action="<?php echo $block->getSearchPostUrl(); ?>" autocomplete="off" method="post">
                <table id="settings-search" class="table table-striped">
                    <tbody>
                    <tr>
                        <td><?= __('per page') ?></td>
                        <td>
                            <?php
                            $productsPerPageOptions = $block->getProductsPerPageSelect();
                            $productsPerPage = $block->getProductsPerPage();
                            ?>
                            <?php if ($productsPerPageOptions){ ?>
                            <select name="productsPerPage" id="ui-id-2">
                                <?php foreach ($productsPerPageOptions as $option) { ?>
                                    <?php if ($option['value'] == $productsPerPage) { ?>
                                        <option value="<?php echo $option['value']; ?>" selected><?php echo $option['label']; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $option['value']; ?>"><?php echo $option['label']; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                            <?php } ?>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><?= __('Show search tips') ?></td>
                        <td>
                            <div class="check-box">
                                <?php if ($block->getShowSearchTips()) { ?>
                                    <input id="check-1" type="checkbox" name="showSearchTips" checked>
                                <?php } else { ?>
                                    <input id="check-1" type="checkbox" name="showSearchTips">
                                <?php } ?>
                                <label for="check-1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><?= __('Additional mark-up') ?></td>
                        <td>
                            <input type="number" name="additionalPriceFee" value="<?php echo $block->getAdditionalPriceFee(); ?>">
                        </td>
                    </tr>
                    <tr>
                        <td><?= __('Show retail price in search') ?></td>
                        <td>
                            <div class="check-box">
                                <?php if ($block->getShowRetailPrice()) { ?>
                                    <input id="check-3" type="checkbox" name="showRetailPrice" checked>
                                <?php } else { ?>
                                    <input id="check-3" type="checkbox" name="showRetailPrice">
                                <?php } ?>
                                <label for="check-3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><?= __('Show image in search') ?></td>
                        <td>
                            <div class="check-box">
                                <?php if ($block->getShowProductImage()) { ?>
                                    <input id="check-2" type="checkbox" name="showProductImage" checked>
                                <?php } else { ?>
                                    <input id="check-2" type="checkbox" name="showProductImage">
                                <?php } ?>
                                <label for="check-2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="panel-body text-center">
                                <button class="btn"><?= __('Change data') ?></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    require([
        'jquery',
        'select2'
    ], function ($) {
        $('#ui-id-2').select2({
            minimumResultsForSearch: -1
        });
    });
</script>