<!-- TODO: Make this template works and remove russian letters to i18n -->
<div class="content__right">
    <div class="panel">
        <div class="panel-head">Условия отгрузки</div>
        <div class="panel-table">
            <table class="table table-bordered table-striped">
                <tbody><tr>
                    <td>Общая сумма ДЗ</td>
                    <td>0.00 грн.</td>
                </tr>
                <tr>
                    <td>Просроченная сумма ДЗ</td>
                    <td>0.00 грн.</td>
                </tr>
                </tbody></table>
        </div>
        <div class="panel-body text-center">
            <button class="btn">Обновить условия отгрузки</button>
        </div>
    </div>
</div>